<p id="notice"><%= notice %></p>

<h1>Listing Questions</h1>

<table>
  <thead>
    <tr>
      <th>Value</th>
      <th>Order template</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @questions.each do |question| %>
      <tr>
        <td><%= question.value %></td>
        <td><%= question.order_template.vendor.name %> #<%= question.order_template.id %></td>
        <td><%= link_to 'Show', vendor_order_template_question_path(question.order_template.vendor_id, question.order_template_id, question) %></td>
        <td><%= link_to 'Edit', edit_vendor_order_template_question_path(question.order_template.vendor_id, question.order_template_id, question) %></td>
        <td><%= link_to 'Destroy', vendor_order_template_question_path(question.order_template.vendor, question.order_template, question), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Question', new_vendor_order_template_question_path %>
