<p id="notice"><%= notice %></p>

<p>
  <strong>Value:</strong>
  <%= @question.value %>
</p>

<p>
  <strong>Order template:</strong>
  <%= @question.order_template %>
</p>

<%= link_to 'Edit', edit_vendor_order_template_question_path(@question.order_template.vendor_id, @question.order_template_id, @question) %> |
<%= link_to 'Back', vendor_order_template_questions_path %>
