<p id="notice"><%= notice %></p>

<p>
  <strong>Question:</strong>
  <%= @option.question %>
</p>

<p>
  <strong>Name:</strong>
  <%= @option.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @option.description %>
</p>

<p>
  <strong>Price:</strong>
  <%= @option.price %>
</p>

<%= link_to 'Edit', edit_option_path(@option) %> |
<%= link_to 'Back', options_path %>
